.board h2 {
  padding-bottom: .5rem;
  border-bottom: 2px solid rgb(82, 80, 80);
  font-weight: bold;
  color: rgb(224, 92, 52);
}

.board ul {
  padding: 0;
}

.default {
  font-weight: bold;
  font-size: 1rem;
  color: rgb(82, 80, 80);
  text-align: center;
}

