.weather-board {
  width: 90%;
  max-width: 800px;
  border-radius: 10px;
  border: 1px solid rgb(82, 80, 80);
  margin: 3rem auto;
  overflow: hidden;
}

.weather-board > h1 {
  margin: 0;
  padding: 1rem;
  background-color: rgb(82, 80, 80);
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: white;
}

.panel {
  padding: 1rem;
}
